tmp/
temp/
core*
*whl
*swp
experiments/
log/
checkpoints/
evaluation/
.DS_Store
__pycache__/
.vscode
api_keys.yaml
env/
dataset/
wandb/
*.pth
*.pt
*.pkl
*.ptl
*.ptl.gz
*.ptl.tar.gz
*.ptl.tar.bz2
*.ptl.tar.xz
*.ptl.tar.lzma